[SddmGreeterTheme]
Name=WinSur-light
Description=WinSur-light theme for KDE Plasma
Author=yeyushengfan258
License=GPL-3.0-or-later
Type=sddm-theme
Version=0.1
Website=https://github.com/yeyushengfan258/WinSur-light-kde
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=yeyushengfan258@outlook.com
Theme-Id=WinSur-light
Theme-API=2.0
